
body{
    align-items: center;
    justify-content: center;
    display: flex;
    
}
div{
    position: fixed;
    top: 200px;
}
.btn{
    background-color: rebeccapurple;
    color: white;
    margin: 1rem;
    font-size: 1.2rem;
    border: none;padding: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
}
