
*{
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 0;
    font-family: "poppins",sans-serif;
    min-height: 100vh;
    padding: 5rem;
    
    transition: backgorund 0.5s linear, color 0.5s linear;
}

body.dark{
    background-color: black;
    color: white;
}
.toggle-con{
    position: fixed;
    top: 10px;
    right: 10px;  
}
#toggle{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: black;
    cursor: pointer;

    transition: background 0.5s linear;
    
}
body.dark #toggle{
    background-color: white;
}
input{
    visibility: hidden;
}